/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* css reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	/* let's set a font for the whole site */
	font-family: "lato", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.7;
	color: #777;
}
